*{
	margin: 0;
	padding: 0;
}
/* HEAD EFECTO BURBUJAS*/
.demo-2 .large-header {
	background: #011826;
	background-size: cover;
}
.logo {
	width: 200px;
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 30%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
/*//////////////////////////////////////////////*/
.frase{
	position: absolute;
  	top: 50%;
  	width: 70%;
  	left: 0;
  	color: #ddd;
  	right: 0;
  	margin: auto;
  	text-align: center;
  	font-size: 40px;
  	font-family: Biryani;
  	font-weight: 100;
  	padding: 30px;
  	text-shadow: 10px 5px 5px #000;
}
.large-header a {
  	position: absolute;
  	bottom: 30px;
  	margin: auto;
  	width: 150px;
  	left: 0;
  	right: 0;
  	text-align: center;
  	background: rgba(255, 255, 255, 0.5);
  	padding: 10px;
  	border-radius: 10px;
  	color: #011826;
}
.large-header a:hover{
	background: rgba(4, 157, 191, 0.5);
}
.contenedorGeneral{
	background: #023859;
	width: 100%;
	height: 100%;
	display: none;
}






/*//////////////////////////////////////////////*/
@media only screen and (max-width : 768px) {
	.logo {
		width: 250px;
		top: 200px;
	}
	.demo-2 .logo {
		font-size: 4em;
	}
	.frase{
		font-size: 20px;
	}
}